.mano-navbar {
  background-color: #39b54a;
  a {
    color: white;
  }

  .navbar-right .dropdown.open {
    ul.dropdown-menu {
      li.active a, a:hover{
        background-color: #39b54a !important;
      }
    }
  }

  .nav > li.active > a, .nav > li > a:hover, .nav > li > a:focus {
    background-color: #ecf0f1;
    color: #18bc9c;
  }
}
