h1 About us

p We are building a sophisticated B2B platform that will enable travel agents and tour operators in the Greater Mekong region in a faster, more convenient and digitalized way to conduct business with each other across borders.
p Our research showed that it is difficult to have choices for different tour quotations in South East Asia.
p We want the businesses to connect with each other much easier, giving more choices and a faster way to do business.
p To achieve this goal we will create a platform with integrated document management, video/text-messenger, rating system and digital invoicing.
